body {
background-image: url("C:/wamp/www/findmeincu/IMG_3034.jpg");
background-size: center;
	height: 600px;
	opacity: 0.7;
	background-position: center;
	opacity: 0.6;
}

form {
	width: 200px;
	height: 40px;
	margin: 100px auto 0;
	position: relative;

}

#submit {
	display: none;
}

form .icon, form.submit {
	width: 35px;
	height: 35px;
	background: #d75813;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	box-shadow: 0px 5px #bc490a, 0px 8px 10px rgba (0,0,0, 0.5);
}

form.submit {
	background: #009bff;
	cursor: pointer;
	box-shadow: 0px 5px #0276cl,
	0px 8px 10px rgba (0,0,0,0.5);

}

form.icon:after,
form.submit:after; {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border: 2px solid white;
	border-radius: 50%;
	left: 10px;
	top: 9px;

}

fo